<div class="row">
    <div class="col col-md-8">
        <h1><%= myEmployee.firstname %> <%= myEmployee.lastname %> <small><%= myEmployee.role %></small></h1>

        <strong><%= myEmployee.telephone %></strong>

        <p>
            <%= myEmployee.bio %>
        </p>

        <a href="/employees/list" class="btn btn-danger">Back</a>

    </div>
</div>